### Credit Score Fraud Detection Study

#### Importing Libraries

In [5]:
import pandas as pd

#### Loading the dataset

In [6]:
# Read the tab-separated file into a DataFrame
file_path = r'fraud_detection_dataset.csv'
df_0 = pd.read_csv(file_path)

In [7]:
df_0

,account_open_date,age,location,occupation,income_level,fico_score,delinquency_status,charge_off_status,number_of_credit_applications,debt_to_income_ratio,...,number_of_delinquent_accounts,number_of_defaulted_accounts,earliest_credit_account,recent_trade_activity,new_accounts_opened_last_12months,multiple_applications_short_time_period,unusual_submission_pattern,applications_submitted_during_odd_hours,watchlist_blacklist_flag,public_records_flag
0,11/9/2023,56,Los Angeles,Teacher,40099,424.0,108,True,10,3.139572,...,4.0,2,9/11/2018,3/7/2024,3,True,True,False,False,True
1,9/11/2022,69,New York,Engineer,2050,483.0,0,False,1,1.017489,...,3.0,2,3/8/2023,1/28/2024,3,False,True,False,False,False
2,7/12/2020,46,Miami,Engineer,71936,566.0,0,False,1,1.508626,...,2.0,0,4/26/2024,10/3/2024,2,False,False,False,False,False
3,8/13/2024,32,Houston,Banker,15833,NaN,97,True,5,2.995150,...,3.0,1,9/14/2023,10/14/2024,4,False,True,True,False,False
4,7/27/2024,60,Houston,Lawyer,8574,787.0,0,False,1,1.182380,...,NaN,0,11/8/2022,9/2/2024,0,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,4/10/2021,33,Boston,Consultant,14566,589.0,92,True,2,1.727134,...,3.0,2,11/29/2017,8/24/2024,1,True,True,True,False,False
6996,3/18/2022,66,Atlanta,Banker,8930,679.0,0,True,1,1.430593,...,0.0,0,3/20/2020,9/12/2024,0,False,False,True,False,False
6997,6/20/2024,68,Houston,Other,4501,321.0,58,True,1,1.750392,...,4.0,2,8/7/2015,2/11/2024,4,False,True,False,False,False
6998,10/4/2020,35,Chicago,Retail Worker,11938,729.0,0,False,1,1.518169,...,0.0,0,7/4/2019,4/17/2024,0,False,False,False,False,False
6999,6/13/2020,52,Seattle,Banker,7861,359.0,103,True,5,1.751935,...,4.0,1,5/14/2022,5/29/2024,3,True,True,True,False,False

In [8]:
df_0.columns

Index(['account_open_date', 'age', 'location', 'occupation', 'income_level',
       'fico_score', 'delinquency_status', 'charge_off_status',
       'number_of_credit_applications', 'debt_to_income_ratio',
       'payment_methods_high_risk', 'max_balance', 'avg_balance_last_12months',
       'number_of_delinquent_accounts', 'number_of_defaulted_accounts',
       'earliest_credit_account', 'recent_trade_activity',
       'new_accounts_opened_last_12months',
       'multiple_applications_short_time_period', 'unusual_submission_pattern',
       'applications_submitted_during_odd_hours', 'watchlist_blacklist_flag',
       'public_records_flag'],
      dtype='object')

In [9]:
df_0[['account_open_date',
       'earliest_credit_account', 'recent_trade_activity','charge_off_status']]

,account_open_date,earliest_credit_account,recent_trade_activity,charge_off_status
0,11/9/2023,9/11/2018,3/7/2024,True
1,9/11/2022,3/8/2023,1/28/2024,False
2,7/12/2020,4/26/2024,10/3/2024,False
3,8/13/2024,9/14/2023,10/14/2024,True
4,7/27/2024,11/8/2022,9/2/2024,False
...,...,...,...,...
6995,4/10/2021,11/29/2017,8/24/2024,True
6996,3/18/2022,3/20/2020,9/12/2024,True
6997,6/20/2024,8/7/2015,2/11/2024,True
6998,10/4/2020,7/4/2019,4/17/2024,False
6999,6/13/2020,5/14/2022,5/29/2024,True

### Descriptive Analysis